In [2]:
import pandas as pd

In [3]:
data=pd.DataFrame()
df=pd.DataFrame()

In [4]:
for i in range(1,9):
    data= pd.read_csv(f'batch_{i}_data.csv')
    df=pd.concat([df,data],ignore_index=True)

In [5]:
df.shape

(86918, 8)

In [7]:
backup=df.copy()
backup.shape

(86918, 8)

In [6]:
df.head()

,symbol,t,o,h,l,c,v,n
0,MSFT,2023-04-03 04:00:00,286.520,288.2700,283.95,287.23,24743342.0,351148
1,MSFT,2023-04-04 04:00:00,287.230,290.4499,285.67,287.18,25824299.0,351664
2,MSFT,2023-04-05 04:00:00,285.850,287.1500,282.92,284.34,22064770.0,315075
3,MSFT,2023-04-06 04:00:00,283.210,292.0800,282.03,291.60,29770334.0,391332
4,MSFT,2023-04-10 04:00:00,289.208,289.6000,284.71,289.39,23095494.0,320739

In [8]:
df['symbol'].value_counts()

symbol
SQ      880
SHOP    880
BDX     440
CMG     440
MDLZ    440
       ...
BKNG    440
JD      440
BIIB    439
ALNY    439
SPLK    240
Name: count, Length: 196, dtype: int64

In [10]:
df.describe()

,o,h,l,c,v,n
count,86918.000000,86918.000000,86918.000000,86918.000000,8.691800e+04,8.691800e+04
mean,3172.250255,3195.290064,3147.020627,3170.569993,1.153528e+07,8.767235e+04
std,42290.894205,42587.620524,41960.944207,42263.971451,3.495429e+07,1.538461e+05
min,2.060000,2.137900,2.000000,2.010000,7.420000e+02,2.440000e+02
25%,52.630000,53.196250,52.073575,52.654000,2.081300e+06,3.262575e+04
50%,98.010000,99.030000,97.000000,98.055000,4.397495e+06,5.305200e+04
75%,194.280000,196.297500,192.327500,194.230000,1.004971e+07,8.814775e+04
max,730090.820000,741971.390000,723050.000000,724040.000000,1.543834e+09,4.742026e+06